


.disc img{
  position: absolute;
  width: 1200px;
  height: 120vh;
  object-fit: cover;
  border-radius: 50%;
  top: -60px;
  left: 150px;
  z-index: 1;
  border: solid 10px var(--primary-color);
  
}
.disc{
  position: relative;
  
}
.disc span{
  width: 180px;
  height: 180px;
  z-index: 2;
  position: absolute;
  background-color: #FAF8F6;
  top: 42vh;
  left: 650px;
  border-radius: 50%;
}