<div class="container-playlist">
<ul>
   @for (song of songs; track song.song_url; let i = $index) {
    <li
     class="playlist-element"
        [class.active]="isActive(i)"
        (click)="onSongClick(i)"
        [attr.data-index]="i">
    
         <span 
          class="playlist-element__photo" 
          aria-hidden="true"
          [style.background-image]="'url(' + song.caratula + ')'">
        </span>
        <div class="playlist-element__content-info">
          <p class="playlist-element__title">{{ song.song_name }}</p>
          <p class="playlist-element__autor">{{ song.artist_name }}</p>
        </div>
        <p class="playlist-element__time">{{ song.duration || '0:00' }}</p>
      </li>
  }
      
    </ul>
    </div>